<%= link_to "Back", root_path %> <br/> <br/> 
 <strong>Topics:</strong> 
<% @question.topic.each do |topic| %>
  <div> <%= topic.topic %> </div>
<% end %> <br/>
 <strong>Question:</strong>
<div>
  <%= render "questions/question_view", question: @question , last: false %>
</div> 