<h1>Topics</h1> 
<% Topic.all.each do |topi| %> 
<table>
    <tr>
        <td><%= topi.topic %>(id:<%= topi.id %>)
        <%= render "topics/add_topic_button", object: topi %></td>
    </tr>
</table>    
<% end %>