<table style = "width:50%" >
<h1>Question Topics</h1> 
    <tr>
    <% Topic.all.each do |topi| %> 
            <td><%= topi.topic %>(id:<%= topi.id %>)
            <%= render "topics/add_topic_button", object: topi %></td>
    <% end %>
    </tr>
</table>    