 <h3>Topics You follow </h3>
 
<div class='main'>
    <% if current_user&.topic&.each do |topic| %>
        <li> <%= link_to topic.topic, topic_path(topic) %> </li>
        <% end %> 
    <% end %> 
</div>