<h1>Topics</h1> 
<% @topics.each do |topi| %> 
<table>
      <tr>
         <th><%= render "topics/follow_button", topic: topi %></th>
         <td><%= link_to 'show', topic_path(topi) %> &nbsp; </td>
         <td><%= topi.topic %>(id:<%= topi.id %>)</td>
      </tr>
</table>    
<% end %>
   