<h3>Topic show page</h3>
<div> <strong>Topic -:
 &nbsp; <%= @topic.topic %> </strong></div>
<br/> 
<br/>
<table>
    <thead><tr><td>Similar Questions</td></tr>
    </thead>
    <tbody> 
    <% all = QuestionTopic.where(topic_id: @topic.id)  %>
    <% all.each do |a| %>
    <% question = Question.find_by(id: a.question_id).question %>
        <tr><td> <%= link_to question, question_path(a.id) %></td> </tr>
    <% end %>   
    <tbody>
</table>
<br/>
<br/>
<%= link_to "Go to Topics", topics_path %>       